P {
    color:black;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 2rem;
}

.back-button {
    padding-bottom: 2rem;
}

a {
    color: #000;
    text-decoration: none;
    background-image: linear-gradient(#000,#A37C40), linear-gradient(#ccc,#ccc);
    background-position: 0% 100%, 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px, 100% 1px;
    transition: background-size .3s;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vw;
}

.square-1 {
    display: flex;
    border: 0.25pt solid rgb(0, 0, 0);
    width: 71.428571vw;
    height: 71.428571vw;
    margin: auto;
}

.square-2 {
    display: flex;
    border: 0.25pt solid rgb(0, 0, 0);
    width: 42.857143vw;
    height: 42.857143vw;
    margin: auto;
}

.square-3 {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 14.285714vw;
    height: 14.285714vw;
    margin: auto;
}

.square-4 {
    display: flex;
    border: 0.25pt solid rgb(0, 0, 0);
    width: 71.428571vw;
    height: 71.428571vw;
    margin: auto;
}

.square-5 {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 42.857143vw;
    height: 42.857143vw;
    margin: auto;
}

.square-6 {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 14.285714vw;
    height: 14.285714vw;
    margin: auto;
}