P {
    color:black;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vw;
}

.square-1 {
    display: flex;
    border: 0.25pt solid rgb(0, 0, 0);
    width: 71.428571vw;
    height: 71.428571vw;
    margin: auto;
}

.square-2 {
    display: flex;
    border: 0.25pt solid rgb(0, 0, 0);
    width: 42.857143vw;
    height: 42.857143vw;
    margin: auto;
}

.square-3 {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 14.285714vw;
    height: 14.285714vw;
    margin: auto;
}