P {
    color:black;
}

body {
    font-family: Helvetica, sans-serif;
}


.back-button {
        padding-bottom: 3rem;
        font-size: 1rem;
}

ul {
    list-style-type: none;
    font-size: 2rem;
    
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color: rgb(105, 0, 128);
    text-decoration: underline;
}

/* Squares */

.container-1 {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.container-2 {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.rectangle-1 {
    display: flex;
    border: 0.25pt solid rgb(211, 211, 211);
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.rectangle-2 {
    display: flex;
    border: 0.25pt solid rgb(211, 211, 211);
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.rectangle-3 {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}

.square-4 {
    display: flex;
    border: 1pt solid rgb(211, 211, 211);
    width: 71.428571vw;
    height: 71.428571vh;
    margin: auto;
}

.square-5 {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.square-6 {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 14.285714vw;
    height: 14.285714vh;
    margin: auto;
}

/* Line Interaction  */

.line-1 {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 60vw;
    height: 60vh;
}

.line-2 {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 80vw;
    height: 80vh;
}

.line-4 {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 80vw;
    height: 80vh;
}

.line-3 {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 80vw;
    height: 80vh;
}

/* Transparency  */

.transparencys {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 80vw;
    height: 80vh; 
}

/* 4 as Three  */

.four-as-three {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 80vw;
    height: 80vh; 
}

/* 5 as 6  */

.five-as-six {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 80vw;
    height: 80vh; 
}


/* Value Matching  */

.value-matching {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 80vw;
    height: 80vh; 
}

/* Texture  */

.texture-1 {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 80vw;
    height: 80vh; 
}

.texture-2 {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    justify-content: center;
    width: 80vw;
    height: 80vh; 
}